.input {
    border-radius: 4px;
    border: solid 1px #DDDEDF;
    height: 40rem;
    padding-left: 8rem;
}

.label {
    padding: 10rem 0 8rem 8rem;
}

.field {
    display: flex;
    flex-direction: column;
}

.flat-button {
    background-color: black;
    color: var(--colorBase);
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 175px;
    padding: 20px;
    margin:20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
  .drop-container:hover {
    background: #eee;
    border-color: #111;
  }
  
  .drop-container:hover .drop-title {
    color: #222;
  }
  
  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }