@import url('./styles.css');

html{
    background-color: #ebfdeb;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-login{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.titulo-login{
    height: 200rem;
}
.login-form{
    width: 100%;
}
.bloque, .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bloque p, h2{
    text-align: center;
}
.login-form input{
    margin: 10px 0;
    width: 90vw;
    max-width: 400rem;
    height: 35rem;
    border-radius: 24px;
    border: 1px solid #a2a2a2;
    padding-left: 15rem;
}
h2, h3{
    margin-bottom: 25px;
}
a{
    text-decoration: none;
    color: var(--colorPrimario);
}
.login-form button{
    margin-top: 20px;
    background-color: var(--colorBase);
    border-radius: 24px;
    border: 1px solid #a2a2a2;
    color: #a2a2a2;
    width: 150rem;
    height: 40rem;
}
.login-form button:hover{
    border: 1px solid var(--colorPrimario);
    font-weight: bold;
    color: var(--colorPrimario);transition: 0.5s;
}
.login-form input:hover{
    border: 1px solid var(--colorPrimario);
}

.login-footer{
    margin-top: 150rem;
}
.signin{
    margin-top: 120rem;
}
label, input {
    display: block;
    margin-bottom: 16px;
}
.sign-in-form{
    margin-top: 80rem;
}
/* @media (min-width: 768px) {
    
  } */